{% extends 'layout.html' %}

{% block title %}Modify Account{% endblock %}

{% block content %}
<h2>Modify Account</h2>
<form action="{{ url_for('modify_account', account_id=account.account_id) }}" method="post">
    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="OPEN" {{ 'selected' if account.status == 'OPEN' else '' }}>OPEN</option>
        <option value="CLOSED" {{ 'selected' if account.status == 'CLOSED' else '' }}>CLOSED</option>
    </select><br>

    <button type="submit">Update</button>
</form>

{% endblock %}
