{% extends 'layout.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}
<h2>Account Details</h2>
<div class="button-container">

    <button onclick="window.location.href='{{ url_for('create_account') }}'">
        <i class="fas fa-user-plus  fa-lg"></i> Create Account
    </button> 
    <button onclick="window.location.href='{{ url_for('search_accounts') }}'">
        <i class="fas fa-search  fa-lg"></i> Search Accounts
    </button>
    <button onclick="window.location.href='{{ url_for('get_accounts') }}'">
        <i class="fas fa-retweet  fa-lg"></i> Refresh data
    </button>
   
    </div>

{{ table|safe }}
{% endblock %}

<!-- Have a section for filtering/searching customer records -->
<!-- Have a button to create a new customer, which send GET request to customers/new -->
<!-- Have a button to see this customers accounts -->
<!-- OPTIONAL: Have a button to create a new account for this customer -->