{% extends 'layout.html' %}

{% block title %}Customer Search{% endblock %}

{%block script %} 
<script>
    function buildQueryUrl() {
        // Get input values
        const customerId = document.getElementById('customer_id').value;
        const firstName = document.getElementById('first_name').value;
        const lastName = document.getElementById('last_name').value;
        const email = document.getElementById('email').value;

        // Base URL
        let baseUrl = '/customer?';

        // Append parameters to URL
        if (customerId) baseUrl += `customer_id=${encodeURIComponent(customerId)}&`;
        if (firstName) baseUrl += `first_name=${encodeURIComponent(firstName)}&`;
        if (lastName) baseUrl += `last_name=${encodeURIComponent(lastName)}&`;
        if (email) baseUrl += `email=${encodeURIComponent(email)}&`;

        // Remove trailing '&'
        baseUrl = baseUrl.slice(0, -1);

        // Redirect to the constructed URL
        window.location.href = baseUrl;
    }
</script>
{% endblock %}

{% block content %}
<div class="button-container">

<!--<button onclick="window.location.href='/customer/new'">
    <i class="fas fa-users  fa-lg"></i> Create Customer
</button> -->

<button onclick="window.location.href='{{ url_for('new_customer') }}'">
    <i class="fas fa-users  fa-lg"></i> Create Customer
</button> 
<button onclick="window.location.href='{{ url_for('get_customers') }}'">
    <i class="fas fa-university  fa-lg"></i> Back
</button>
</div>
<!-- <h2>Customer Search</h2> -->
<h1>Search Customers</h1>
<div class="search_form-container">
    <label for="customer_id">Customer ID:</label><br>
    <input type="text" id="customer_id"><br>
    <label for="first_name">First Name:</label><br>
    <input type="text" id="first_name"><br>
    <label for="last_name">Last Name:</label><br>
    <input type="text" id="last_name"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email"><br>
    <br>
    <div class="button-container">
      <button onclick="buildQueryUrl()">Search</button>
    </div>
</div>
{% endblock %}

