{% extends 'layout.html' %}

{% block title %}New Customer{% endblock %}

{% block content %}
<h2>Customer Creation</h2>

<div class="button-container">

    <!--<button onclick="window.location.href='/customer/new'">
        <i class="fas fa-users  fa-lg"></i> Create Customer
    </button> -->
    
    <button onclick="window.location.href='{{ url_for('get_customers') }}'">
        <i class="fas fa-users  fa-lg"></i> Back
    </button> 
    <button onclick="window.location.href='{{ url_for('get_customers') }}'">
        <i class="fas fa-university  fa-lg"></i> Search Customers
    </button>
    </div>



<div class="form-container ">
<form action="{{ url_for('new_customer') }}" method="POST">
    <label for="last_name">Last Name:</label><br>
    <input type="text" id="last_name" name="last_name" required><br>

    <label for="first_name">First Name:</label><br>
    <input type="text" id="first_name" name="first_name" required><br>

    <label for="dob">Date of Birth:</label><br>
    <input type="date" id="dob" name="dob" required><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>

    <label for="phone">Phone:</label><br>
    <input type="text" id="phone" name="phone" required><br>

    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address" required><br>

    <!-- Button to submit the form -->
    <div class="button-container">
        <button type="submit">Create Customer</button>
    </div>
</form>
</div>

{% endblock %}

