{% extends 'layout.html' %}

{% block title %}Customer Search{% endblock %}

{%block script %} {% endblock %}

{% block content %}
<div class="button-container">

<!--<button onclick="window.location.href='/customer/new'">
    <i class="fas fa-users  fa-lg"></i> Create Customer
</button> -->

<button onclick="window.location.href='{{ url_for('new_customer') }}'">
    <i class="fas fa-users  fa-lg"></i> Create Customer
</button> 
<button onclick="window.location.href='{{ url_for('modify_customer', customer_id=1) }}'">
    <i class="fas fa-university  fa-lg"></i> Modify Customer
</button>
<button onclick="window.location.href='{{ url_for('get_customers') }}'">
    <i class="fas fa-university  fa-lg"></i> Back
</button>
</div>
<h2>Customer Details</h2>
{{ table|safe }}
{% endblock %}
