{% extends 'layout.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
<div class="button-container">

<button onclick="window.location.href='{{ url_for('new_customer') }}'">
    <i class="fas fa-user-plus  fa-lg"></i> Create Customer
</button> 
<button onclick="window.location.href='{{ url_for('search_customers') }}'">
    <i class="fas fa-search  fa-lg"></i> Search Customers
</button>
<button onclick="window.location.href='{{ url_for('get_customers') }}'">
    <i class="fas fa-retweet  fa-lg"></i> Refresh Data
</button>
</div>
<h2>Customer Details</h2>
{% if msg %}
    <div class="msg">{{ msg }}</div>
{% endif %}
{{ table|safe }}
{% endblock %}